@import url(./__author/quotes__author.css);
@import url(./__item/quotes__item.css);
@import url(./__portrait/quotes__portrait.css);
@import url(./__text/quotes__text.css);

.quotes {
  display: flex;
  flex-direction: column;
  max-width: 1184px;
  margin: 102px auto 0;
  padding: 0 48px;
}

@media screen and (max-width: 900px) {
  .quotes {
    padding: 0 24px;
  }
}

@media screen and (max-width: 425px) {
  .quotes {
    padding: 0 16px;
    margin-top: 64px;
  }
}